:root {
    --bgColor: #202020;
    --fgColor: #FAFAFA;
    
    --bubbleBgColor: rgba(20, 20, 20, var(--bubbleOpacity));

    /*tag design*/
    --bgTagOrange: #682f00;
    --fgTagOrange: #ff7300;
    --fgTagBlue: #49adff;
    --bgTagBlue: #003879;
    --fgTagPink: #ff0080;
    --bgTagPink: #5f0030;
    --fgTagGreen: #00ec14;
    --bgTagGreen: #004b13;
}