:root {
    --bgColor: #d1d1d1d0;
    --fgColor: rgb(32, 32, 32);
    --bubbleBgColor: rgba(200, 200, 200, var(--bubbleOpacity));

    /*tag design*/
    --fgTagOrange: #682f00;
    --bgTagOrange: #ff7300;
    --bgTagBlue: #49adff;
    --fgTagBlue: #003879;
    --bgTagPink: #ff0080;
    --fgTagPink: #5f0030;
    --bgTagGreen: #00ec14;
    --fgTagGreen: #004b13;
}