:root {
    --bg-overlay: rgba(0, 0, 0, .4);
    --foreground: #FEFEFE;
    --background: hsla(0, 0%, 10%);
    --midground: hsla(90, 50%, 80%, 0.2);
    

}

.headshot {
    filter: grayscale(100%);
}

.social_icon {
    box-shadow: 3px 3px silver, -1em 0 .4em hsla(0, 0%, 11%);
}