:root {
    --bg-overlay: rgba(255, 255, 255, .4);
    --foreground: #3D3D3D;
    --background: hsla(0deg 0% 80%);
    --midground: hsl(0deg 0% 50%);
}

.social_icon {
    box-shadow: 3px 3px silver, -1em 0 .4em #FEFEFE;
}
