@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import '../style/paleta.css';
@import '../style/sizing.css';

body {
    background-color: var(--bg);
    background: linear-gradient(0deg, rgba(92,92,92,1) 0%, rgba(61,61,61,1) 25%, rgba(61,61,61,1) 75%, rgba(47,47,47,1) 100%);
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    background-attachment: fixed;
}

header {
    display: grid;
    grid-template: auto auto/auto auto;
}

a:link, a:active, a:visited {
    color: var(--link);
    background: -webkit-linear-gradient(90deg, var(--tint) 0%, var(--accent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

h1 {
    font-size: 1.7em;
    margin: .7rem 0rem;
}

h2 {
    font-size: 1.5em;
    margin: .2rem 0rem;
}

h3 {
    font-size: 1.1rem;
    font-style: italic;
    margin: .7rem 0;
}

.profile-pic {
    border-radius: 50%;
    width: 10rem;
    margin: .4rem .2rem;
}

#base-struct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#background-effects {
    width: 100vw;
    height: 100vh;
    grid-row: 1 / -1 ;
    grid-column: 1 / -1;
    position: fixed;
    z-index:-1;
}

#inside-content {
    width: 70vw;
    max-width: 55rem;
    grid-row: 1 / -1 ;
    grid-column: 2 / 3;
    padding:2rem;
}

.logo {
    width: 6rem;
    margin: 1rem 0rem;
}

.feat-items {
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 2rem;
}

.hero-area {
    min-height: 20rem;
    margin: 1.5rem 0rem 2.5rem 0rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    box-shadow:0;
    transition: box-shadow .3s, transform .3s;
}

.hero-title {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 1.5rem 0;
}

.hero-image {
    grid-column: 1 / -2;
    grid-row: 1 / 2;
    width: 100%;
    object-fit: cover;
    
}

.hero-video {
    height: 25em;   
}

.hero-area:hover {
    box-shadow: 0px 3px 15px -3px var(--card-shadow);
    transform: translateY(-.1rem);
}

.card-padding {
    padding: 1rem;
}

.more-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero-text {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

li {
    line-height: 1.4rem;
    list-style: lower-roman url('../vector/bullet.svg') outside;
    margin-left: .5rem;
}

span li a:link, span li a:visited {
    color: white;
}

footer {
    text-align: center;
    padding: 2rem;
    color: var(--bg);
    background: var(--bg);
    background: -webkit-linear-gradient(135deg, var(--accent) 25%, var(--tint) 100%);
}

.header-text {
    padding: 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}
.social-links img {
    width: 1.2rem;
    margin:.8rem;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 0;
}
tbody tr:nth-child(odd) {
    background-color: var(--row-odd);
}
th, td {
    padding: 10px;
}


@media (max-width: 750px) {
    #base-struct {
        grid-template-columns: 10vw auto 10vw;
    }
    #inside-content {
        padding:.5rem;
    }
    .feat-items {
        margin-bottom: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }
    .more-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hero-image {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        object-fit: cover;
    }
    #next-events {
        grid-column: 1 / -1;
        grid-row: -2 / -1;
    }
    .hero-video {
        height: 15em;   
    }
    #event-table, #all-events-title {
        visibility: collapse;
    }
}

@media (max-width: 500px) {
    
    #base-struct {
        grid-template-columns: 15vw auto 15vw;
    }
    #inside-content {
        padding:.1rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .feat-items {
        margin-bottom: 2.5rem;
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }
    .more-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .hero-title {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin: 1.5rem 0;
    }

    .hero-image {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
        object-fit: cover;
    }

    #hero-text {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    #next-events {
        grid-column: 1 / -1;
        grid-row: -2 / -1;
        margin: 1.5rem .1rem;
    }
    .hero-video {
        height: 10em;   
    }
}