:root {
    --white: #FFFFFF;
    --l-grey: #e0e0e0;
    --black: #3D3D3D;
    --shade: #2D2D2D;
    --tint: #FF9D00;
    --accent: #FFE175;
    --l-tint: #2D2D2D;

    --bg: var(--black);
    --bg-accent: var(--l-grey);
    --text: var(--l-grey);
    --card-shadow: var(--l-grey);
    --link: var(--tint);
    --subtitle: var(--l-grey);
    --row-even: var(--tint);
    --row-odd: var(--shade);

}