:root{
    font-family: sans-serif;
    height: 100dvh;
    width: 100dvw;
    --backgroundHeader: rgba(50, 50, 50, 0.75);
    --externalMargin: 2rem;
    --bubbleRadius: 20px;
    --bubbleOpacity: 0.7;
    --pHeight: 1.5rem;
    --menuGap: 2.5rem;
    --dropShadowBlur: 10px;
    --dropShadowSpread: 0.1px;
    --boxShadox0: 0.5rem 0.5rem var(--dropShadowBlur) var(--dropShadowSpread) rgba(255, 0, 128, 0.7), -0.5rem -0.5rem var(--dropShadowBlur) var(--dropShadowSpread) rgba(255, 162, 0, 0.7);
    --boxShadow1: -0.1rem -0.1rem var(--dropShadowBlur) var(--dropShadowSpread) rgba(255, 162, 0, 0.3), 0.1rem 0.1rem var(--dropShadowBlur) var(--dropShadowSpread) rgba(255, 0, 128, 0.3);
    --trans-anim-delay: 0.3s;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    margin: 0px;
    padding: 0px;

    background: url('../imgs/bg.jpg'), var(--bgColor);
    background-position: center 50dvh;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.intro {
    margin: var(--externalMargin);
    padding: 1.5rem;
    max-width: 30rem;
    border-radius: var(--bubbleRadius);
    background-color: var(--bubbleBgColor);
    color: var(--fgColor);
    line-height: var(--pHeight);
    box-shadow: none;
    transition: box-shadow ease-in var(--trans-anim-delay), transform ease-out 0.5s;
    
}

.intro:hover {
    box-shadow: var(--boxShadow1);
    transform: translateY(-0.3rem);
}

main::before {
    content: 'hola';
    font-size: 3rem;
    color: var(--fgColor);
    position: fixed;
    margin: 0.7rem 0rem -3rem 1.5rem;
    z-index: 100;
    
}

header {
    position: fixed;
    bottom: 1.5rem;
    display: flex;
    width: fit-content;
    background-color: rgba(50, 50, 50, 0.75);
    color: contrast-color(var(--backgroundHeader));
    backdrop-filter: blur(20px);
    flex-direction: row;
    gap: var(--menuGap);
    padding: 1rem;
    margin: 2rem;
    border-radius: 100px;
}

.socials {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.social_icon {
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 45%;
    transition: transform ease-out var(--trans-anim-delay), box-shadow ease var(--trans-anim-delay);
}

.social_icon:hover {
    transform: translateY(-0.1rem);
    box-shadow: -3px 2px var(--midground), -.1em 0 .4em var(--foreground);
    transition: transform ease-in var(--trans-anim-delay), box-shadow ease var(--trans-anim-delay);
}

footer {
    position: absolute;
    bottom: 1rem;
    margin: auto;
    color: var(--fgColor);
    background-color: var(--bgColor);
    font-size: 0.7rem;;
    opacity: 60%;
    border-radius: 100px;
    padding: 0.2rem;
}